/* Estiliza a barra de rolagem */
.custom-scroll::-webkit-scrollbar {
    width: 14px; /* Largura da barra */
}

/* Estiliza a parte de fundo da barra */
.custom-scroll::-webkit-scrollbar-track {
    background: blue; /* Cor de fundo */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estiliza o próprio "polegar" (parte que você arrasta) */
.custom-scroll::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Muda a cor do polegar quando o mouse passa sobre ele */
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor mais escura quando hover */
}

main {
    height: 80vh;
}

.hero-title,
.project-hero-title{
    font-size: 36px;
    line-height: 2.5rem;
}

.title-about,
.title-projects{
    font-size: 36px;
}

@media (min-width: 1280px) {
    main {
        height: 85vh;
    }
}