
main {
    height: 80vh;
}

.hero-title,
.project-hero-title{
    font-size: 36px;
    line-height: 2.5rem;
}

.title-about,
.title-projects{
    font-size: 36px;
}

@media (min-width: 1280px) {
    main {
        height: 85vh;
    }
}